mixin about-company()
  section.about-company
    .about-company__container.container
      +img("about-company__image", "images", "about-company", "jpg", "736", "366", "цех по обработке металла")
      .about-company__wrappper
        h2.about-company__title.title О компании
        p.about-company__text ООО «Сталь Урала» — молодая стабильно развивающаяся металлоторгующая компания, с опытом в сфере более 8ми лет.Наша компания присутствует на рынке Екатеринбурга, Свердловской области, России с 2021...
        button.about-company__button.button.button--secondary(type="button") Подробнее
