mixin catalog()
  -
    const catalogCategories = [
      {
        active: true,
        text: "Металлопрокат"
      },
      {
        active: false,
        text: "Заборы и ограждения",
        smallerText: true
      },
      {
        active: false,
        text: "Кровля"
      },
      {
        active: false,
        text: "Профнастил"
      },
      {
        active: false,
        text: "Фасад"
      }
    ]

    const catalogItems = [
      {
        text: "Арматура",
        name: "armature"
      },
      {
        text: "Трубы",
        name: "tubes"
      },
      {
        text: "Лист стальной",
        name: "sheet"
      },
      {
        text: "Нержавеющий прокат",
        name: "stainless"
      },
      {
        text: "Цветной прокат",
        name: "color-metal"
      },
      {
        text: "Сортовой прокат",
        name: "sort-metal"
      },
      {
        text: "Изделия из арматуры",
        name: "armature-things"
      },
      {
        text: "Сетка",
        name: "net"
      },
      {
        text: "Лента металлическая",
        name: "tape"
      },
      {
        text: "Крепеж",
        name: "fastener"
      },
      {
        text: "Фасонный прокат",
        name: "fason"
      }
    ]

  section.catalog
    .catalog__container.container
      h2.catalog__title.title Каталог продукции
      a.catalog__link(href="#!") Перейти в каталог
      ul.catalog__categories.owl-carousel.slide-one.owl-theme
        each link in catalogCategories
          - const activeState = link.active === true
          - const smallerText = link.smallerText === true
          li.catalog__categories-item
            if(activeState)
              a.catalog__categories-link.catalog__categories-link--active(href="#")= link.text
            else if (smallerText)
              a.catalog__categories-link.catalog__categories-link--smaller-text(href="#")= link.text
            else
              a.catalog__categories-link(href="#")= link.text
      ul.catalog__products.owl-carousel.slide-two.owl-theme
        each item in catalogItems
          li.catalog__products-item
            +img("catalog__image", "images", item.name, "jpg", "424", "227", "")
            p.catalog__products__text= item.text

