mixin contacts()
  section.contacts
    .container
      h2.contacts__title.title Контакты
      .contacts__wrapper
        +picture("contacts__map", "images", "map", "map-desktop", "map-mobile", "jpg", "1360", "454", "Местоположение Сталь Урала на карте")
        .contacts__address-wrapper
          h3.contacts__address-title Мы находимся по адресу
          p.contacts__address 620010, Свердловская область, <br> г. Екатеринбург, ЕКАД 5 км, строение № 6В, помещение № 311.
          span.contacts__phone 8 (343) 319-19-15
          span.contacts__schedule 9:00 - 20:00
          span.contacts__email info@stalurala.ru
      .contacts__apply-wrapper
        p.contacts__apply-slogan связаться с нами
        p.contacts__apply-text Напишите нам, и наши специалисты свяжутся с вами в ближайшее время
        button.button(type="button") Оставить заявку


