mixin questions()
  section.questions
    .container
      h2.visually-hidden Оставить заявку
      .questions__wrapper
        p.questions__slogan Возникли вопросы?
        p.questions__text Оставьте заявку, и мы с вами свяжемся.
      button.button(type="button") Оставить заявку
