.intro {
  padding: 148px 0 353px;

  @media (max-width: $mobile) {
    padding: 177px 0 127px;
    background-image: url("../img/images/intro-background-320.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.intro__title {
  margin: 0 auto;
  position: relative;
  font-size: 62px;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary-white;
  text-align: center;
  width: 574px;

  @media (max-width: $mobile) {
    width: 297px;
    font-size: 32px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 49px;
    height: 1px;
    background-color: rgba($primary-white, 0.5);
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background-color: $primary-white;
    width: 64px;
  }
}

.intro__title-accent {
  color: $var-1;
}

.intro__title-city {
  display: block;
  margin: 36px 0 0;
  font-size: 24px;
  text-transform: none;

  @media (max-width: $mobile) {
    font-size: 18px;
  }
}
