.page__body {
  background-image: url("../img/intro-background.jpg");
  /* stylelint-disable */
  background-image: image-set(
    url("../img/images/intro-background.webp") 1x,
    url("../img/images/intro-background@2x.webp") 2x,
    url("../img/images/intro-background.jpeg") 1x,
    url("../img/images/intro-background@2x.jpeg") 2x
  );
  /* stylelint-enable */
  background-repeat: no-repeat;
  background-size: 100% 704px;

  @media (max-width: $desktop-sm) {
    background-image: url("../img/intro-background-1440.jpg");
    /* stylelint-disable */
    background-image: image-set(
      url("../img/images/intro-background-1440.webp") 1x,
      url("../img/images/intro-background-1440@2x.webp") 2x,
      url("../img/images/intro-background-1440.jpeg") 1x,
      url("../img/images/intro-background-1440@2x.jpeg") 2x
    );
    /* stylelint-enable */
  }
}

.page__header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-size: 100% 50;
}
