.page__body {
  background-image: url("../img/intro-background.jpg");
  /* stylelint-disable */
  background-image: image-set(
    url("../img/images/intro-background.webp") 1x,
    url("../img/images/intro-background@2x.webp") 2x,
    url("../img/images/intro-background.jpeg") 1x,
    url("../img/images/intro-background@2x.jpeg") 2x
  );
  /* stylelint-enable */
  background-repeat: no-repeat;
  background-size: 100% 704px;

  @media (max-width: $desktop-sm) {
    background-image: url("../img/intro-background-1440.jpg");
    /* stylelint-disable */
    background-image: image-set(
      url("../img/images/intro-background-1440.webp") 1x,
      url("../img/images/intro-background-1440@2x.webp") 2x,
      url("../img/images/intro-background-1440.jpeg") 1x,
      url("../img/images/intro-background-1440@2x.jpeg") 2x
    );
    /* stylelint-enable */
  }

  @media (max-width: $mobile) {
    background-image: none;
  }

  &--blocked {
    height: 100vh;
    overflow-y: hidden;
  }
}

.page__header {
  @media (max-width: $mobile) {
    position: relative;
    z-index: 1;
    top: 55px;
    margin-top: -59px;
  }
}

.page__main {
  position: relative;
}

.page__statistics {
  @media (max-width: $mobile) {
    position: absolute;
    left: 50%;
    bottom: 1105px;
    transform: translateX(-50%);
  }
}
