.questions__container {
  position: relative;
  max-width: 1828px;
  padding: 54px 0 70px;
  display: flex;
  background-color: $var-4;

  @media (max-width: $desktop) {
    margin: 0 46px;
    justify-content: center;
  }

  @media (max-width: $desktop-sm) {
    margin: 0 25px;
  }

  @media (max-width: $mobile) {
    padding: 51px 0 235px;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
}

.questions__wrapper {
  position: relative;
  margin: 0 600px 0 170px;
  width: 614px;

  &::before {
    @include pseudo();
    background-image: url("../img/svg/pipe-sketch-coloured.svg");
    width: 269px;
    height: 132px;
    top: -17px;
    right: -379px;

    @media (max-width: $desktop) {
      right: -343px;
    }

    @media (max-width: $desktop-sm) {
      right: -262px;
    }

    @media (max-width: $mobile) {
      right: 50%;
      transform: translateX(50%);
      top: 250px;
    }
  }

  @media (max-width: $desktop) {
    margin: 0 444px 0 116px;
    width: 465px;
  }

  @media (max-width: $desktop-sm) {
    margin: 0 260px 0 25px;
  }

  @media (max-width: $mobile) {
    margin: 0 0 50px;
    width: 272px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.questions__slogan {
  margin: 0;
  font-size: 24px;
  line-height: 1.58;
  font-weight: 700;
  text-transform: uppercase;
  color: $var-1;

  @media (max-width: $mobile) {
    font-size: 18px;
    line-height: 1.33;
  }
}

.questions__text {
  margin: 0 0 0 0;
  font-size: 24px;
  line-height: 1.58;
  font-weight: 400;
  color: $var-2;

  @media (max-width: $mobile) {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.questions__button-container {
  position: relative;
  display: flex;

  &::before {
    @include pseudo();
    background-image: url("../img/svg/logo-decoration.svg");
    width: 162px;
    height: 163px;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: $mobile) {
      top: -50px;
    }
  }
}

.questions__button {
  margin-top: 15px;

  @media (max-width: $desktop-sm) {
    margin-right: 25px;
  }

  @media (max-width: $mobile) {
    margin: 0;
  }
}
