.secondary-nav__list {
  @include list-reset();
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 318px;
  gap: 28px;
  align-items: center;

  @media (max-width: $desktop) {
    margin-right: 78px;
  }

  @media (max-width: $desktop-sm) {
    width: 458px;
    margin-right: 0;
    gap: 15px;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}

.secondary-nav__button {
  display: none;
  width: 28px;
  height: 28px;
  background-color: transparent;
  background-image: url("../img/svg/arrow-right-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid $var-1;
  cursor: pointer;
}

.secondary-nav__link {
  font-weight: 700;
  color: rgba($primary-white, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.28;

  @media (max-width: $mobile) {
    color: $var-2;
  }
}
