.statistics {
  padding: 81px 0 97px;
  display: flex;
  justify-content: center;
  min-height: 296px;
  border-top: 1px solid rgba(22, 24, 26, 0.15);
  border-bottom: 1px solid rgba(22, 24, 26, 0.15);

  @media (max-width: $mobile) {
    padding: 0;
    border: none;
    height: auto;
  }
}

.statistics__list {
  margin: 0;
  width: 1512px;
  display: flex;
  flex-wrap: wrap;
  gap: 180px 399px;

  @media (max-width: $desktop) {
    max-width: 1116px;
    gap: 180px 201px;
  }

  @media (max-width: $desktop-sm) {
    gap: 80px;
    justify-content: center;
    max-width: 1000px;
  }

  @media (max-width: $tablet) {
    max-width: 768px;
  }

  @media (max-width: $mobile) {
    position: relative;
    top: -40px;
    width: 280px;
    gap: 30px 4px;
    justify-content: flex-start;
  }
}

.statistics__wrapper {
  width: 238px;
  position: relative;

  @media (max-width: $tablet) {
    width: 150px;
  }

  @media (max-width: $mobile) {
    width: 138px;
  }

  &:not(:nth-child(3n))::before {
    @include pseudo();
    width: 1px;
    height: 226px;
    background-color: #dcdcdd;
    right: -188px;
    top: -46px;

    @media (max-width: $desktop) {
      right: -65px;
    }

    @media (max-width: $mobile) {
      display: none;
    }
  }

  &::after {
    @include pseudo();
    width: 64px;
    height: 3px;
    background-color: $var-1;
    left: 50%;
    transform: translateX(-50%);
    bottom: -98px;

    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.statistics__fact {
  display: flex;
  flex-direction: column;
}

.statistics__number {
  font-size: 62px;
  font-weight: 700;
  text-transform: uppercase;
  color: $var-1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet) {
    font-size: 40px;
  }

  @media (max-width: $mobile) {
    font-size: 35px;
  }
}

.statistics__greater-than {
  font-size: 36px;
  order: -1;

  @media (max-width: $tablet) {
    font-size: 25px;
  }

  @media (max-width: $mobile) {
    font-size: 20px;
  }
}

.statistics__text {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $mobile) {
    font-size: 9px;
  }
}

.statistics__definition {
  margin: 0;
}

.statistics__desc {
  margin: 0;
  font-size: 16px;
  text-align: center;

  @media (max-width: $mobile) {
    font-size: 9px;
    font-weight: 300;
  }
}
