mixin footer()
  -
    const products = [
      {
        name: "Металлопрокат"
      },
      {
        name: "Заборы и огражения"
      },
      {
        name: "Кровля"
      },
      {
        name: "Профнастил"
      },
      {
        name: "Фасад"
      }
    ]

    const aboutUs = [
      {
        name: "О компании"
      },
      {
        name: "Контакты"
      },
      {
        name: "Вопрос-ответ"
      },
      {
        name: "Доставка"
      },
      {
        name: "Оплата"
      }
    ]

    const services = [
      {
        name: "Доставка металла"
      },
      {
        name: "Резка металла"
      },
      {
        name: "Гибка металла"
      }
    ]

  footer.footer
    .container
      .footer__company-info
        if(currentUrl === "index.html")
          span.logo
            +img("logo__image", "images", "logo","png", "231", "60", "Логотип Сталь Урала." )
        else
          a.logo(href="index.html" aria-label="Переход на главную")
            +img("logo__image", "images", "logo","png", "231", "60", "Логотип Сталь Урала." )
        p.footer__address 620010, г. Екатеринбург, ЕКАД 5 км, строение № 6В, помещение № 311.
        span.footer__phone 8 (343) 319-19-15
        span.footer__email info@stalurala.ru
        a.footer__vk(href="#")
          span.visually-hidden Перейти в ВК
        span.footer__copyright ©2024, Сталь Урала
      .footer__links
        .footer__links-wrapper
          .footer__links-list-wrapper
            span.footer__links-title Продукция
            ul.footer__links-list
              each item in products
                li.footer__links-item
                  a.footer__links-link(href="")= item.name
          .footer__links-list-wrapper
            span.footer__links-title О нас
            ul.footer__links-list
              each item in aboutUs
                li.footer__links-item
                  a.footer__links-link(href="")= item.name
          .footer__links-list-wrapper
            span.footer__links-title Услуги
            ul.footer__links-list
              each item in services
                li.footer__links-item
                  a.footer__links-link(href="")= item.name
          button.button заказать звонок
        a.footer__policy(href="#") Политика конфиденциальности
