mixin header(currentUrl)
  -
    const headerTopLinks = [
      {
        href: "#",
        text: "О компании"
      },
      {
        href: "#",
        text: "Контакты"
      },
      {
        href: "#",
        text: "Вопрос-ответ"
      },
    ]

    const headerBottomLinks = [
      {
        href: "#",
        text: "Каталог продукции"
      },
      {
        href: "#",
        text: "Гибка металла"
      },
      {
        href: "#",
        text: "Резка"
      },
      {
        href: "#",
        text: "Доставка"
      },

    ]

  header.header
    .header__top-container
      .header__top-container-inner.container
        nav.main-nav
          ul.main-nav__list
            each link in headerTopLinks
              li.main-nav__item
                a.main-nav__link(href=link.href)= link.text
        button.header__city Екатеринбург

    .header__bottom-container.container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo.logo
          //- Указать директорию, название файла, раcширение, ширину, высоту и alt
          +img("logo__image", "images", "logo","png", "272", "71", "Логотип Сталь Урала." )
      else
        a.header__logo.logo(href="index.html" aria-label="Переход на главную")
          +img("logo__image", "images", "logo","png", "272", "71", "Логотип Сталь Урала." )
      nav.secondary-nav
        ul.secondary-nav__list
          each link in headerBottomLinks
            li.secondary-nav__item
              a.secondary-nav__link(href=link.href)= link.text
      .header__info-for-user
        span.header__phone +7 (343) 319-19-15
        button.header__search
          span.visually-hidden Поиск по сайту
        button.header__cart
          span.visually-hidden Корзина
          span.header__cart-number 1
        span.header__price 12 750 ₽
