//- Base

include ./base/header
include ./base/footer

//- Utils

include ./utils/img
include ./utils/picture

//- Blocks

include ./blocks/intro
include ./blocks/catalog
include ./blocks/services
include ./blocks/questions
include ./blocks/about-company
include ./blocks/statistics
include ./blocks/contacts
include ./blocks/modal
